!.gitignore
target/
project/project/target/
build/
bin/
.settings/
.pmd
.classpath
.project
sonar.xml
logs/
*.iml
*.ipr
*.iws
*.eml
.idea/
terraform.tfstate
.terraform
terraform.tfstate.backup
tools/
dependency-reduced-pom.xml